body {
    background-color: lavender;
}

h1 {
    font: 35px "Arial, Helvetica, sans-serif";
    padding: 25px;
    text-decoration: underline;
    text-align: center;
}

div {
    color: darkslateblue;
}